<!DOCTYPE html>

<!-- Reference http://bl.ocks.org/mbostock/1021841 -->
<head>

<meta charset="utf-8">

<script src="/static/d3.v3.min.js"></script>
<script src="/static/jquery-2.0.3.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui-1.10.4/themes/base/jquery.ui.base.css">
<link refl="stylesheet" href="/static/jquery-ui-1.10.4/themes/base/jquery.ui.theme.css">
<link refl="stylesheet" href="/static/jquery-ui-1.10.4/themes/base/jquery.ui.tabs.css">
<script src="/static/jquery-ui-1.10.4/ui/minified/jquery.ui.core.min.js"></script>
<script src="/static/jquery-ui-1.10.4/ui/minified/jquery.ui.widget.min.js"></script>
<script src="/static/jquery-ui-1.10.4/ui/minified/jquery.ui.tabs.min.js"></script>
<script src="/static/arrows.js"></script>
<script src="/static/colony_view.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
        /* Create hideable tabbed menu of options to interact with the viz */
        $("#tabs").tabs();
	    $("#tabset-tab").click(function(){
			var $panel = $("#tabs");
			if( $panel.hasClass("open") ) {
	        	$panel.animate({"left":"-341px"}, "slow");
                $(this).animate({"left":"0px"}, "slow");
			}
			else {
	        	$panel.animate({"left":"0px"}, "slow");
                $(this).animate({"left":"+=340px"}, "slow");
			}
	        $panel.toggleClass("open");
	        $(this).toggleClass("active");
	        return false;
	    });
	});
</script>

<link rel="stylesheet" type="text/css" href="/static/palette.css">

</head>

<body>

<script>
$(document).ready( function() {
    create_initial_view( initialize('{{ jsonAllMice | safe}}', '{{ curr_domain }}') );
    CV.formattedData.add_format( "genderCheck", create_gender_format);
    CV.nodeLayout = layout_generations( CV.formattedData.get_hierarchy() );
    update_view( CV.nodeLayout);
    var lines = find_endpoints( CV.nodeLayout, CV.genFoci);
    setTimeout( function() { draw_arrows( CV.svg, lines, AR.line_generator);}, 5000);
}); //end document ready

</script>

<div id="graph"></div>

<div id="tabs">
    <ul>
        <li> <a href="#filter-tab-panel">Filter</a></li>
        <li> <a href="#group-tab-panel">Group</a></li>
        <li> <a href="#image-tab-panel">Image</a></li>
        <li> <a href="#search-tab-panel">Search</a></li>
    </ul>
    <div id="filter-tab-panel" >
        <table>
        <tr><td><label><b>Gender</b></label></td></tr>
        <tr id="genderFilter"> <td>
            <input type="radio" name="gender" value="All" checked="true">All
            </td> <td>
            <input type="radio" name="gender" value="M" >Male
            </td> <td>
            <input type="radio" name="gender" value="F" >Female
            </td>
        </tr>
        </table>
        <table>
        <tr><td><label><b>Genotype</b></label></td></tr>
        <tr> <td>
            <input id="allGeno" type="checkbox" name="genotypeFilter" value="All" checked="true" disabled="true">All
        </td> </tr>
        <tr><td>
            <table id="userFilters">
            </table>
        </td></tr>
        <tr id="geneSelector" class="genotypeDesc" style="display:none"><td>
            <label>LEF1</label><br>
            <input type="checkbox" name="LEF1" value="+/-">+/-<br>
            <input type="checkbox" name="LEF1" value="-/-">-/-<br>
            <input type="checkbox" name="LEF1" value="WT">WT<br>
        </td><td>
            <label>RANKL</label><br>
            <input type="checkbox" name="RANKL" value="+/-">+/-<br>
            <input type="checkbox" name="RANKL" value="-/-">-/-<br>
            <input type="checkbox" name="RANKL" value="WT">WT<br>
        </td><td>
            <label>PTHrP</label><br>
            <input type="checkbox" name="PTHrP" value="+/-">+/-<br>
            <input type="checkbox" name="PTHrP" value="-/-">-/-<br>
            <input type="checkbox" name="PTHrP" value="WT">WT<br>
        </td></tr>
        <tr id="doneRow" class="genotypeDesc" style="display:none"><td>
            <input id="doneGenotypeFilter" type="button" value="Done">
        </td></tr>
        <tr><td>
            <input id="addGenotypeFilter" type="image" src="/static/img/plus.png" alt="Add" width="24" height="24">
            Add genotype filter
        </td></tr>
        </table>
    </div>
    <div id="group-tab-panel" >
        <table>
        <tr> <td>
            <input type="checkbox" id="genderCheck" value="gender" checked="true">Gender
        </td></tr>
        <tr><td>
            <input type="checkbox" id="litterCheck" value="litter">Litter
        </td></tr>
<!--        <tr><td>
            <input type="checkbox" id="geneCheck" value="genotype">Genotype
        </td></tr>
-->
        </table>
    </div>
    <div id="image-tab-panel" >
        <table cellspacing="10">
            <tr><td>
                <label><b>Circle Size By: </b></label>
                <select id="selectSizeBy">
                    <option value="uniform">Uniform</option>
                    <option value="children">Number of children</option>
                </select>
            </td> </tr>
            <tr><td>
                <label><b>Color By: </b></label>
                <select id="selectColorGroup">
                    <option value="gender" selected="true">Gender</option>
                    <option value="genotype">Genotype</option>
                    <option value="customGenotype">Custom Genotype</option>
                </select>
            </td></tr>
            <tr><td>
                <table id="userColors" class="genotypeColor" style="display:none">
                </table>
            </td></tr>
            <tr id="colorGeneSelector" class="genotypeColorSelect" style="display:none"><td>
                <label>LEF1</label><br>
                <input type="checkbox" name="LEF1" value="+/-">+/-<br>
                <input type="checkbox" name="LEF1" value="-/-">-/-<br>
                <input type="checkbox" name="LEF1" value="WT">WT<br>
            </td><td>
                <label>RANKL</label><br>
                <input type="checkbox" name="RANKL" value="+/-">+/-<br>
                <input type="checkbox" name="RANKL" value="-/-">-/-<br>
                <input type="checkbox" name="RANKL" value="WT">WT<br>
            </td><td>
                <label>PTHrP</label><br>
                <input type="checkbox" name="PTHrP" value="+/-">+/-<br>
                <input type="checkbox" name="PTHrP" value="-/-">-/-<br>
                <input type="checkbox" name="PTHrP" value="WT">WT<br>
            </td></tr>
            <tr id="doneColorRow" class="genotypeColorSelect" style="display:none"><td>
                <input id="doneGenotypeColor" type="button" value="Done">
            </td></tr>
            <tr class="genotypeColor" style="display:none"><td>
                <input id="addGenotypeColor" type="image" src="/static/img/plus.png" alt="Add" width="24" height="24">
                Add genotype color
            </td></tr>
        </table>
    </div>
    <div id="search-tab-panel" >
        <table cellspacing="10">
            <tr><td>
            <label><b>Search by MouseId: </b></label>
            <input id="searchMouse" type="text" name="searchbox">
            <input id="submitSearch" type="button" value="Find">
            </td></tr>
            <tr><td>
            <p id="searchError" style="color:red; display:none;">MouseId not found in the display</p>
            </td></tr>
        </table>
    </div>
</div>

<a id="tabset-tab" class="menu-tab" href="#">Interaction</a>

<div id="mouseInfoDiv" style="position:fixed; top:20px; right:5px">
    <table>
        <tr><td id="mouseInfoDetails">
        </td></tr>
        <tr><td id="mouseInfoLineage">
        </td></tr>
</div>

</body>
</html>
