<!DOCTYPE html>

<!-- Reference http://bl.ocks.org/mbostock/1021841 -->

<meta charset="utf-8">
<style>

.node {
}

</style>

<body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>

<script>
// The var FV is a container for global data to be referenced explicitly.
var FV = {};

function initialize() {
    FV.allMice = JSON.parse( '{{ jsonAllMice | safe}}');
    //Reverse the list for popping
    FV.miceGenData = [];
    for (var i=FV.allMice.length -1; i >=0; i--) {
        FV.miceGenData.push( FV.allMice[i]);
    }

    FV.width = 800,
    FV.height = 450;
    FV.fill = d3.scale.category10();
    FV.genFoci = [];
    var segmentSize = FV.width/FV.allMice.length;
    for (var i=0; i < FV.allMice.length; i++) {
        // Calc the midpoint of a segment
        FV.genFoci[i] = { 'x': ((i+1) * segmentSize) - segmentSize/2, 'y': FV.height/2 };
    }
}

function handle_color() {
    var selected = this.value;
    if (selected == "genotype") {
        d3.select("#gene_selector").style("display","inline")
    }
    else {
        d3.select("#gene_selector").style("display","none")
    }
}

function assign_color( d) {
    var grp = FV.sel.options[FV.sel.selectedIndex].value;
    if (grp == "gender") {
        if(d.gender == "F") {
            return "#FF7575";
        }
        else {
            return "#3366FF";
        }
    }
}

initialize();

$(document).ready( function() {
    FV.layoutNodes = [];
    FV.force = d3.layout.force()
            .nodes( FV.layoutNodes )// Show only root generation then add others incrementally.
            .size([FV.width, FV.height])
            .charge(-10)
            .gravity(.1)
            .on("tick", tick)
            .start();

    FV.svg = d3.select("#graph").append("svg")
        .attr("width", FV.width)
        .attr("height", FV.height);

    FV.sel = d3.select("#selectColorGroup")
        .node();
    d3.select("#selectColorGroup").on("change", handle_color);

    FV.delayInterval = 1500;

    FV.interval = setInterval( function() {
        if (FV.miceGenData.length > 0) {
            var currGen = FV.miceGenData.pop();
            var currGenClass = "gen" + currGen[0].generation;
            //Need to preserve object referenced by force layout so pushing instead of concat.
            for (var i=0; i<currGen.length; i++) {
                FV.layoutNodes.push(currGen[i]);
            }
            FV.force.start();
            FV.svg.selectAll(".node").data(FV.layoutNodes, get_id)
                .enter()
                .append("circle")
                .attr("cx", function(d) {
                        var randomNum = Math.random();
                        randomNum = (randomNum & 1 ? randomNum : -1 * randomNum);
                        d.x = d.px = FV.genFoci[d.generation]['x'] + (100 * randomNum);
                        return d.x;
                })
                .attr("cy", function(d) {
                        var randomNum = Math.random();
                        randomNum = randomNum & 1 ? randomNum : -1 * randomNum;
                        d.y = d.py = FV.genFoci[d.generation]['y'] + (100 * randomNum);
                        return d.y;
                })
                .classed("node", "true")
                .classed(currGenClass, "true")
                .attr("r", 2)
                .style("stroke", "rgb(24,24,24)")
                .style("stroke-width", "1.0px")
                .style("fill", function(d, i) { return assign_color(d); })
                .style("opacity", 0.1);
            d3.selectAll("." + currGenClass).transition().delay( function(d,i) {return i*0.2;})
                .duration(800)
                .style("opacity","0.9");
        }
        else {
            clearInterval(FV.interval);
        }
    }, FV.delayInterval);

    setTimeout( function() {
        FV.force.stop();
    }, FV.delayInterval * FV.genFoci.length + 120000);

    FV.all_foci = function() {
        return { 'x': FV.width/2, 'y': FV.height/2 };
    }

    FV.gen_foci = function(o) {
        return { 'x': FV.genFoci[o.generation]['x'], 'y': FV.genFoci[o.generation]['y'] };
    }

    FV.gender_offset = function(o) {
        var x = (o.gender == "F") ? -20 : 20;
        return { 'x': x, 'y': 0};
    }

    FV.genotype_offset = function(o) {

    }

    // Set default function to use when clustering nodes.
    FV.foci_fxn = FV.gen_foci;
    FV.color_offset = FV.gender_offset;

    d3.select("#btnAll").on("click", function() {
        FV.foci_fxn = FV.all_foci;
        d3.selectAll(".clusterLabel")
            .transition()
            .style("opacity", 1e-6)
            .attr("x", FV.foci_fxn()["x"]);
        FV.force.resume();
    })

    d3.select("#btnGen").on("click", function() {
        FV.foci_fxn = FV.gen_foci;
        d3.selectAll(".clusterLabel")
            .transition()
            .style("opacity","1")
            .attr("x", function(d) {
                return d["x"];
            })
        FV.force.resume();
    })

    // Initialize
    FV.svg.selectAll(".clusterLabel").data( FV.genFoci).enter()
            .append("text")
            .text(function(d,i) {
                return "Generation " + i;
            })
            .attr("x", function(d) {
                return d["x"];
            })
            .attr("y", function(d) {
                return d["y"] - 150;
            })
            .attr("class","clusterLabel")
            .style("text-anchor", "middle")
            .style("fill", "#D3D3DD")
            .style("opacity", "1");

    function get_id( d) {
        return d.mouseId;
    }

    function tick(e) {
        // Push nodes toward their designated focus.
        var nodeSet = FV.svg.selectAll(".node");
        var k = 0.2 * e.alpha;
        nodeSet.each(function(o, i) {
            var target = FV.foci_fxn(o);
            var offset = FV.color_offset(o);
            o.x += (target['x'] + offset['x'] - o.x) * k;
            o.y += (target['y'] + offset['y'] - o.y) * k;
            })
        // Update drawn circle
        nodeSet.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
    }

});

</script>

<div id="filters">
<table cellspacing="10">
    <tr><td>
        <label>Color Group: </label>
        <select id="selectColorGroup">
            <option value="gender" selected="true">Gender</option>
            <option value="genotype">Genotype</option>
        </select>
        </div>
    </td>
    <td>
        <label>Partition By: </label>
        <button id="btnAll">All</button>
    </td>
    <td>
        <button id="btnGen">Generation</button>
    </td>
    </tr>
    <tr id="gene_selector" style="display:none"><td>
        <label>LEF1</label><br>
        <input type="radio" name="genotype" value="+/-">+/-<br>
        <input type="radio" name="genotype" value="-/-">-/-<br>
        <input type="radio" name="genotype" value="WT">WT<br>
    </td><td>
        <label>RANKL</label><br>
        <input type="radio" name="genotype" value="+/-">+/-<br>
        <input type="radio" name="genotype" value="-/-">-/-<br>
        <input type="radio" name="genotype" value="WT">WT<br>
    </td><td>
        <label>PTHrP</label><br>
        <input type="radio" name="genotype" value="+/-">+/-<br>
        <input type="radio" name="genotype" value="-/-">-/-<br>
        <input type="radio" name="genotype" value="WT">WT<br>
    </td></tr>
</table>
</div>

<div id="graph"></div>

</body>
</html>