<!DOCTYPE html>

<!-- Reference http://bl.ocks.org/mbostock/1021841 -->
<head>

<meta charset="utf-8">

<script src="/static/d3.v3.min.js"></script>
<script src="/static/jquery-2.0.3.min.js"></script>
<script src="/static/arrows.js"></script>
<script src="/static/colony_view.js"></script>

</head>

<body>

<script>
$(document).ready( function() {
    create_initial_view( initialize('{{ jsonAllMice | safe}}', '{{ curr_domain }}') );
    CV.formattedData.add_format( "genderCheck", create_gender_format);
    CV.nodeLayout = layout_generations( CV.formattedData.get_hierarchy() );
    update_view( CV.nodeLayout);
    var lines = find_endpoints( CV.nodeLayout, CV.genFoci);
    setTimeout( function() { draw_arrows( CV.svg, lines, AR.line_generator);}, 5000);
}); //end document ready

</script>

<div id="filters" style="background-color: #EFEFFA">
<table cellspacing="10">
    <tr><td>
        <label><b>Color By: </b></label>
        <select id="selectColorGroup">
            <option value="gender" selected="true">Gender</option>
            <option value="genotype">Genotype</option>
        </select>
    </td>
    <td>
        <label><b>Group By: </b></label>
        <input type="checkbox" id="genderCheck" value="gender" checked="true">Gender
    </td>
    <td>
        <input type="checkbox" id="litterCheck" value="litter">Litter
    </td>
    <td>
        <input type="checkbox" id="geneCheck" value="genotype">Genotype
    </td>
    <td>
        <label><b>Circle Size By: </b></label>
        <select id="selectSizeBy">
            <option value="uniform">Uniform</option>
            <option value="children">Number of children</option>
        </select>
    </td>
    </tr>
    <tr id="geneSelector" style="display:none"><td>
        <label>LEF1</label><br>
        <input type="checkbox" name="LEF1" value="+/-">+/-<br>
        <input type="checkbox" name="LEF1" value="-/-">-/-<br>
        <input type="checkbox" name="LEF1" value="WT">WT<br>
        <input type="checkbox" name="LEF1" value="NA">NA<br>
    </td><td>
        <label>RANKL</label><br>
        <input type="checkbox" name="RANKL" value="+/-">+/-<br>
        <input type="checkbox" name="RANKL" value="-/-">-/-<br>
        <input type="checkbox" name="RANKL" value="WT">WT<br>
        <input type="checkbox" name="RANKL" value="NA">NA<br>
    </td><td>
        <label>PTHrP</label><br>
        <input type="checkbox" name="PTHrP" value="+/-">+/-<br>
        <input type="checkbox" name="PTHrP" value="-/-">-/-<br>
        <input type="checkbox" name="PTHrP" value="WT">WT<br>
        <input type="checkbox" name="PTHrp" value="NA">NA<br>
    </td></tr>
</table>
</div>

<div id="graph"></div>

</body>
</html>
