<!DOCTYPE html>

<html>

<head>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/form.css">

<script>
    $(document).ready( function() {
        $("#btnMouse").click( function() {
            if ($("#txtMouse").val()) {
                if ($("#editsection").find("iframe").length > 0) {
                    //var ifrSource = '/edit_colony/edit_mouse/?mouseId=' + $("#txtMouse").val();
                    var ifrSource = '{{ iSrc }}?mouseId=' + $("#txtMouse").val();
                    $("#editsection").find("iframe").attr("src", ifrSource);
                }
                else {
                    $("#editsection").append('<iframe src="{{ iSrc }}?mouseId=' +
                        $("#txtMouse").val() + '" height="400" width="100%"></iframe>');
                }
            }
        });
    });
</script>

</head>

{% block title %}
{% endblock %}

<div class="editField">
	<p id="primaryId">
		<label>Mouse ID:</label>
        <input id="txtMouse" type="text" />
        <input id="btnMouse" type="button" value="Find"/>
	</p>
</div>

<div id="editsection">
</div>

</html>